@media only Screen and (min-width: 1366px) and (max-width: 1920px){
    .container{
        max-width: 1115px;
    }

    .hero-area .container{
        max-width: 1300px;
    }

    .hero-area .container .row{
        height: 100%;
    }
}
@media only screen and (min-width: 768px) and (max-width: 991px){
   
}
@media only screen and (min-width: 576px) and (max-width: 767px){
    
}
@media only screen and (max-width: 767px){
    
}
@media only screen and (min-width: 480px) and (max-width: 576px){
    
}
@media only screen and (min-width: 320px) and (max-width: 479px){
    
}