body {
    margin: o;
    padding: 0;
}
.container{
    width: 80%;;
}
/* header area */

.logo-area .logo img {
    height: 70px;
    width: auto;
    display: block;
    margin: auto;
    margin-top: 20px;
}

.menu-area {
    margin-top: 10px;
    
}

.menu-area .menu-area-devider {
    border-top: 1px solid rgba(0, 0, 0, 0.064);
    padding: 0;
    margin: 0;

}

.main-menu {
    margin: 0 auto
}

.main-menu ul {
    padding: 15px 20px 0 20px;
    text-align: center;
}

.main-menu ul li {
    list-style: none;
    display: inline;

}

.main-menu ul li a {

    text-decoration: none;
    padding: 25px;
    color: rgb(35, 35, 35);

}

/* hero area*/


.hero-area .bg-img {
    background-image: url(./images/hero-part.jpg);
    height: 100vh;
    width: 100%;

    /* position: relative; */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.overlay-text {
    width: 50%;
    padding-top: 30px;
    padding-left: 200px;
    padding-bottom: 0px;

}

.overlay-text h2 {
    width: 100%;
    height: 100%;
    font-size: 50px;
    display: flex;
    justify-content: start;
    font-weight: 300;
}

.overlay-text h1 {
    width: 100%;
    height: 100%;
    font-size: 50px;
    display: flex;
    justify-content: start;
    font-weight: 700;

    color: #d49f47;
}

.overlay-text p {
    display: flex;
    justify-content: start;
   
}
.mujib-btn{
    background-color: #d49f47;
    border: none;
    color: #fff;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 3px;


}
.overlay-text-bottom p{
    padding-top: 50px;
   
    text-align: center;
    font-size: 22px;
    font-weight: 500;
}
/* Service section */
/* 
.left-card img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    margin-top: 10px;
    
} */
/* .service-section {
 overflow: hidden;
 display: block;
} */
.services{
    background-color: #f4f4f4;
}



.services-box .card{
margin: 10px;
border: none;
    
}
.services-box .row img{
    /* width: 50px;
    height: 50px;
    align-items: center;
    justify-content: center;
    display: block; */
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50px;
    margin-top: 10px;

} 


/* custom section */

.custom-soluation{
    overflow: hidden;
}

/* amazing section */

.amazing{
    background-color: #d49f47;
    width: 100%;
    max-height: 300px;
}
.amaxing-text  {
    color: #fff;
    text-align: center;
}

/* testimonial section */
.testimonial{
    margin-top: 200px;
}

.client {
    height: 300px;
    width: 250px;
    
}

/* Dream Team */
.team{
    background-color: #f4f4f4;
    
}
.team-card .card{
    border: none;
  
}
.team-card .card img{
    
}
.team-section ul{
    padding: 15px 20px 0 20px;
    text-align: center;
}
.team-section ul li{
    list-style: none;
    display: inline;
}
.team-section ul li a{
text-decoration: none;
color: #000;
padding: 8px;

}
/* <!-- read stories --> */

.our-story .story-card{
    border: none;
}

/* footer section */

.footer-devider{
    border-top: 1px solid rgba(0, 0, 0, 0.064);
    padding: 0;
    margin: 50px 0;
}
.row .col-2 ul li{
    list-style: none;
    font-size: 12px;
}
.col-6 .searce-area .subscrib-btn{
    background-color: #d49f47;
    border: none;
    color: #fff;
    padding: 5px 10px;
    margin: 15px;
    border-radius: 10px;
}
.footer-last-devider{
    border-top: 1px solid rgba(0, 0, 0, 0.064);
    padding: 0;
    margin-top: 50px;
    margin-bottom: 20px;
}
.copyright-text{
    margin-bottom: 30px;
}















